//
// Features
//

// Base

.feature {
  display: flex;
}

// Inner components

.feature-link {
  color: inherit;
  display: block;

  .feature-horizontal &,
  .feature-vertical & {
    width: 100%;
  }

  @include hover-focus-active {
    color: inherit;
    text-decoration: none;

    .feature-title {
      text-decoration: underline;
    }
  }
}

.feature-thumbnail-wrap {
  // Adjust height via padding-bottom per layout
  height: 0;
  width: 100%;

  .feature-horizontal & {
    padding-bottom: 100%;
  }

  .feature-horizontal.feature-primary &,
  .feature-vertical & {
    padding-bottom: 65%;
  }

  .feature-vertical.feature-secondary & {
    @include media-breakpoint-down(sm) {
      padding-bottom: 45%;
    }
  }
}

.feature-title {
  font-size: 1.15rem;

  .feature-primary & {
    font-size: 1.5rem;
  }

  .feature-condensed & {
    font-size: 1rem;
  }
}

.feature-subhead {
  color: $brand-default-aw;
  font-size: .85rem;
}

.feature-excerpt {
  .feature-secondary & {
    font-size: .85rem;
  }
}
