.tag-cloud-link {
  background: #eee;
  border: 2px solid #d6d6d6;
  border-radius: .5rem;
  color: #5f5f5f;
  display: inline-block;
  font-size: 85%;
  margin-bottom: .5rem;
  margin-right: .5rem;
  padding: .3rem .7rem;

  &:hover,
  &:focus,
  &:active {
    background: #d6d6d6;
    color: #3d3d3d;
    text-decoration: none;
  }
}
