.weather-today-nav {
  @include media-breakpoint-down(md) {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
  }

  .weather-date {
    color: $gray-dark;
    font-size: .8rem;
  }

  .weather-icon {
    font-size: 2.75rem;
    width: 1em; // needed for IE

    @include media-breakpoint-up(lg) {
      font-size: 1.75;
    }
  }

  .weather-temp {
    font-size: 1.5rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
      line-height: 1;
    }
  }

  .weather-condition {
    font-size: .8rem;
  }
}
