//
// Mixin that defines base style overrides for single post content.
//
@mixin single-post-content() {
  @include media-breakpoint-up(md) {
    font-size: 1.125rem;
  }

  > p:first-of-type {
    &::first-letter {
      display: block;
      float: left;
      font-size: 3rem;
      font-weight: 700;
      // Chrome requires an explicit unit on the line height for whatever reason
      line-height: 2.75rem; // sass-lint:disable-line property-units
      margin-right: .25rem;

      @include media-breakpoint-up(md) {
        font-size: 3.5rem;
        line-height: 3.25rem; // sass-lint:disable-line property-units
      }
    }

    &:first-child {
      &::after {
        clear: both;
        content: '';
        display: block;
      }
    }
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6,
  * + .h1,
  * + .h2,
  * + .h3,
  * + .h4,
  * + .h5,
  * + .h6 {
    margin-top: 1em;
  }

  blockquote:not(.blockquote) {
    border: 0;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    min-width: 270px;
    text-align: center;
    width: 75%;

    @include media-breakpoint-up(sm) {
      clear: both;
      float: left;
      margin-bottom: 1.5rem;
      margin-right: $grid-gutter-width-base;
      margin-top: .75rem;
      text-align: left;
      width: calc(40% - #{$grid-gutter-width-base});
    }

    @include media-breakpoint-up(md) {
      margin-right: $grid-gutter-width-base * 1.5;
      width: 40%;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
      width: 30%;

      @include media-breakpoint-up(sm) {
        width: 100%;
      }
    }

    &::before {
      border-bottom: $border-width-thickest * 2 solid $blockquote-border-color;
      margin-bottom: 1rem;
    }

    &::after {
      border-bottom: $border-width solid lighten($blockquote-border-color, 50%);
      margin-top: 1rem;
    }

    p {
      font-family: $font-family-slab-serif;
      font-size: $blockquote-font-size;
      font-weight: 400;
      line-height: $blockquote-line-height;

      @include media-breakpoint-up(md) {
        font-size: $blockquote-font-size-md;
      }

      i,
      em {
        font-style: normal;
      }
    }
  }

  br ~ blockquote:not(.blockquote) {
    @include media-breakpoint-up(sm) {
      margin-top: 1.5rem;
    }
  }

  .figure-caption,
  .wp-caption-dd {
    @include media-breakpoint-up(md) {
      font-size: 70%;
    }
  }
}
