.single-post {
  .post-content {
    > p:first-of-type {
      &::first-letter {
        display: block;
        float: left;
        font-size: 3rem;
        font-weight: 700;
        // Chrome requires an explicit unit on the line height for whatever reason
        line-height: 2.75rem; // sass-lint:disable-line property-units
        margin-right: .25rem;

        @include media-breakpoint-up(md) {
          font-size: 3.5rem;
          line-height: 3.25rem; // sass-lint:disable-line property-units
        }
      }

      &:first-child {
        &::after {
          clear: both;
          content: '';
          display: block;
        }
      }
    }
  }
}

.post-template-template-twocol {
  .ucf-social-links-affixed {
    margin-bottom: 2.5rem;
  }
}

// sass-lint:disable no-qualifying-elements
.figure,
img[class*='wp-image-'] {
  margin-bottom: $spacer-y;

  &.float-left,
  &.float-right {
    @include media-breakpoint-only(xs) {
      display: block;
      float: none !important; // sass-lint:disable-line no-important
      margin-left: auto;
      margin-right: auto;
    }

    @include media-breakpoint-between(sm, md) {
      max-width: 50% !important; // sass-lint:disable-line no-important
    }

    @include media-breakpoint-only(lg) {
      max-width: 60% !important; // sass-lint:disable-line no-important
    }
  }

  &.float-left {
    @include media-breakpoint-up(sm) {
      margin-right: $grid-gutter-width-base;
    }
  }

  &.float-right {
    @include media-breakpoint-up(sm) {
      margin-left: $grid-gutter-width-base;
    }
  }
}
// sass-lint:enable no-qualifying-elements
